body{

background:#202124;

color:white;

font-family:Arial;

text-align:center;

margin:0;

}

header{

background:#0d47a1;

padding:30px;

}

h1{

font-size:50px;

}

select{

padding:15px;

font-size:20px;

border-radius:10px;

}

img{

margin-top:20px;

width:400px;

display:none;

border-radius:20px;

box-shadow:0 0 20px cyan;

}

button{

padding:15px 30px;

margin:10px;

font-size:20px;

border:none;

border-radius:10px;

background:#1976d2;

color:white;

cursor:pointer;

}

button:hover{

background:#42a5f5;

}

#prix{

display:none;

margin:40px auto;

background:#333;

width:60%;

padding:20px;

border-radius:15px;

}
